/* #region page */

html {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

body {
  margin: 0;
}

/* #endregion */

/* #region header */

.header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url('../../images/bg_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

/* #endregion */

/* #region menu */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-color: #c2c2c2;

  opacity: 0;
  pointer-events: none;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #endregion */

/* #region icon */

.icon {
  display: block;
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon--phone {
  background-image: url('../../images/icon-phone-call.png');
}

.icon--menu {
  background-image: url('../../images/icon-burger-menu.png');
}

.icon--close {
  background-image: url('../../images/icon-close.png');
}

/* #endregion */

/* #region footer */

.footer {
  /* empty */
}

/* #endregion */
