/* #region page */

.page {
  scroll-behavior: smooth;

  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;

  background-color: #1d1d1d;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  pointer-events: none;
  opacity: 0;
}

.page__menu:target {
  pointer-events: all;
  opacity: 1;
}

.main h2 {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #fff;
}

/* #endregion */

/* #region header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;

  background-image: url('../../images/bg_image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  margin: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

.header__bottom {
  padding: 20px 40px;
}

/* #endregion */

/* #region menu */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 20px;
}

.top-bar__icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

.menu {
  box-sizing: border-box;
  height: 100vh;

  font-weight: 600;
  text-transform: uppercase;
  color: #1d1d1d;

  background-color: #c2c2c2;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__phone-number {
  display: block;

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 27px;
  color: inherit;
  text-decoration: none;
}

.menu__call-to-order {
  display: block;

  width: fit-content;
  padding-bottom: 7px;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid #1d1d1d;
}

/* #endregion */

/* #region nav */

.nav__link {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin: 0;
  padding: 0;

  list-style: none;
}

/* #endregion */

/* #region icon */

.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--phone {
  background-image: url('../../images/icon-phone-call.png');
}

.icon--menu {
  background-image: url('../../images/icon-burger-menu.png');
}

.icon--close {
  background-image: url('../../images/icon-close.png');
}

/* #endregion */

/* #region footer */

.footer {
  /* empty */
}

/* #endregion */
